@import "tailwindcss";

@theme {
	--font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
	--color-table-header: #deb5b5;
	--color-table-rows: #CDCDCD;
	--color-main: #e1003c;
    --color-notification-default: blue;
    --color-notification-urgent: red;
}

@layer base {
	body {
		font-family: var(--font-roboto);
	}
}
