#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-body {
  flex: 1;
}

.root-notifications {
  display: flex;
  flex-direction: column;
  align-items: end;
}
