@import "tailwindcss";

@theme {
	--font-roboto: 'Roboto', sans-serif;
	--color-table-header: #deb5b5;
	--color-table-rows: #CDCDCD;
	--opacity-66: 0.66;
  	--opacity-45: 0.45;
}

@layer base {
	body {
		font-family: var(--font-roboto);
	}
}
